@media only screen and (max-width: 5000px) {
  body {
    background-color: lightblue;
  }
}


body{
  margin-top: 60px;
  display: flex;
}

/*Offset fix for static navbar links to anchors issue*/
.anchorTarget{ 
  padding-top: 60px; 
  margin-top: -60px
}


#header-img{
  width: 5%;
}

#productImage{
  width: 10%;
}

#form{
  margin-top: 30px;
}

#video{
  margin-top: 30px;
  margin-bottom: 30px;
}